/*////////////////// Page Headers /////////////////*/
.navigation-bar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: rgb(136, 178, 53);
  color: rgb(255, 255, 255);
  z-index: 2;
}

.company img {
  position: relative;
  margin: 0 100%;
  height: 130px;
  width: 220px;
}

.links ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.links li {
  position: relative;
  list-style: none;
}

.links li a {
  z-index: 1;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: sans-serif;
  padding: 15px;
  display: block;
}

.links li:hover a:hover {
  color: rgb(237, 28, 36);
}

.links li p {
  z-index: 1;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: sans-serif;
  display: block;
}

.links li ul {
  z-index: 1;
  position: absolute;
  display: none;
  width: 100%;
  background: rgb(136, 178, 53);
  overflow: hidden;
}

.links li ul li {
  z-index: 1;
  text-align: center;
}

.links li:hover ul {
  display: block;
  z-index: 1;
}

.links li:hover {
  z-index: 1;
  background: rgb(255, 242, 0);
}

.small-menu {
  position: relative;
  right: 15px;
  top: 0.75em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
}

.small-menu .lines {
  height: 4px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

@media (max-width: 1310px) {
  .navigation-bar {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .company {
    align-self: center;
  }
  .company img {
    height: 180px;
    margin: 0 auto;
  }
  .small-menu {
    position: absolute;
    top: 5em;
    display: flex;
  }
  .links {
    display: none;
    width: 100%;
  }
  .links ul {
    width: 100%;
    flex-direction: column;
  }
  .links li {
    text-align: center;
  }
  .links ul ul {
    position: relative;
    width: 100%;
    flex-direction: column;
    z-index: 1;
  }
  .links ul ul li {
    text-align: center;
  }
  .links.active {
    display: flex;
  }
}
/*/////////////////////////// Home Page ////////////////////////*/
.background {
  display: flex;
  position: relative;
  width: 100%;
}

.background img {
  margin: 0 auto;
  width: 70%;
  height: 500px;
}

.home-nav-bar {
  height: auto;
  width: 100%;
  background-color: rgb(249, 191, 81);
}

.optionsContainer {
  display: flex;
  width: 50%;
  margin: 0 auto;
  height: auto;
}

.options {
  margin-top: 50px;
  height: 150px;
  margin: 0 auto;
}

.options ul {
  margin-top: 50px;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
}

.options ul li {
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
}

.options a {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 28px;
}

.homeInformation {
  width: 50%;
  margin: 0 auto;
}

.homeInformation p {
  text-align: justify center;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: sans-serif;
}

.emailList {
  width: 40%;
  margin: 0 auto;
  border: 3px solid rgb(0, 0, 0);
}

.emailList p {
  text-align: center;
}

.inputRowEmail {
  text-align: center;
  margin: 0 auto;
}

#emailAddress {
  width: 70%;
  height: 30px;
  font-size: 25px;
}

#emailListSubmit {
  background-color: rgb(249, 191, 81);
  border: none;
  border-radius: 6px;
  margin-left: 10px;
  margin-bottom: 20px;
  height: 35px;
  width: 130px;
  font-size: 16px;
}

/*//////////////////////////// Footer /// ////////////////////////*/
footer {
  width: 100%;
  bottom: 0;
  background-color: rgb(0, 0, 0);
}

.linksContainer {
  display: flex;
  width: 60%;
}/*# sourceMappingURL=styles.css.map */