body {
  background-color: rgb(234, 234, 234);
}

/*////////////////// Page Headers /////////////////*/
.navigation-bar {
  top: 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: rgb(136, 178, 53);
  color: rgb(255, 255, 255);
  z-index: 2;
}

.company img {
  position: relative;
  margin: 0 100%;
  height: 130px;
  width: 220px;
}

.links ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.links li {
  position: relative;
  list-style: none;
}

.links li a {
  z-index: 1;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: sans-serif;
  padding: 15px;
  display: block;
}

.links li:hover a:hover {
  color: rgb(237, 28, 36);
}

.links li p {
  z-index: 1;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: sans-serif;
  display: block;
}

.links li ul {
  z-index: 1;
  position: absolute;
  display: none;
  width: 150%;
  background: rgb(136, 178, 53);
  overflow: hidden;
}

.links li ul li a {
  z-index: 1;
  text-align: center;
  font-size: 20px;
}

.links li:hover ul {
  display: block;
  z-index: 1;
}

.links li:hover {
  z-index: 1;
  background: rgb(255, 242, 0);
}

.small-menu {
  position: relative;
  right: 15px;
  top: 0.75em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
}

.small-menu .lines {
  height: 4px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

@media (max-width: 1310px) {
  .navigation-bar {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .company {
    align-self: center;
  }
  .company img {
    height: 180px;
    margin: 0 auto;
  }
  .small-menu {
    position: absolute;
    top: 5em;
    display: flex;
  }
  .links {
    display: none;
    width: 100%;
  }
  .links ul {
    width: 100%;
    flex-direction: column;
  }
  .links li {
    text-align: center;
  }
  .links ul ul {
    position: relative;
    width: 100%;
    flex-direction: column;
    z-index: 1;
  }
  .links ul ul li {
    text-align: center;
  }
  .links.active {
    display: flex;
  }
}
/*/////////////////////////// Home Page ////////////////////////*/
.background {
  margin-top: 10px;
  display: flex;
  position: relative;
  width: 100%;
}

.background img {
  margin: 0 auto;
  width: 70%;
  height: 500px;
}

.home-nav-bar {
  margin-top: 10px;
  height: auto;
  width: 100%;
  background-color: rgb(249, 191, 81);
}

.optionsContainer {
  display: flex;
  width: 50%;
  margin: 0 auto;
  height: auto;
}

.options {
  margin-top: 50px;
  height: 150px;
  margin: 0 auto;
}

.options ul {
  margin-top: 50px;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
}

.options ul li {
  margin-top: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}

#label {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}

.options a {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 28px;
}

.options a:hover {
  cursor: pointer;
}

.homeInformation {
  width: 50%;
  margin: 0 auto;
}

.homeInformation p {
  text-align: justify center;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.emailList {
  width: 40%;
  margin: 0 auto;
  border: 3px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

.emailList p {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

.inputRowEmail {
  text-align: center;
  margin: 0 auto;
}

#emailAddress {
  width: 70%;
  height: 30px;
  font-size: 25px;
}

#emailListSubmit {
  background-color: rgb(249, 191, 81);
  border: none;
  border-radius: 6px;
  margin-left: 10px;
  margin-bottom: 20px;
  height: 35px;
  width: 130px;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .background img {
    height: 300px;
  }
  .optionsContainer {
    margin: 0 auto;
    width: 80%;
  }
  .options ul {
    text-align: left;
    margin-left: 0;
  }
  .options a {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .emailList {
    width: 80%;
  }
}
/*/////////////////////////// About Ngoma Page ////////////////////////*/
.aboutBackground img {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.aboutContent {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 55%;
  background-color: rgba(234, 234, 234, 0.75);
}

.aboutBar {
  margin: 0 auto;
  margin-top: 2%;
  height: 50px;
  background-color: rgb(249, 191, 81);
  width: 100%;
}

.aboutContent h1 {
  padding-left: 1%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.aboutContent p {
  font-family: sans-serif;
  padding-left: 1%;
  text-align: left;
  font-size: 20px;
  margin-bottom: 0;
}

.aboutContent img {
  display: block;
  margin: 0 auto;
  justify-self: center;
  width: 75%;
}

@media (max-width: 1000px) {
  .aboutContent {
    width: 75%;
  }
}
/*/////////////////////////// Wicker Page ///////////////////////*/
.wickerContent {
  width: 55%;
  margin: 0 auto;
}

.wickerContent img {
  width: 100%;
  height: 50%;
}

.wickerContent h1 {
  padding-left: 1%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.wickerContent p {
  font-family: sans-serif;
  padding-left: 1%;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .wickerContent {
    width: 75%;
  }
}
/*/////////////////////////// Projects Page ///////////////////////*/
.projectBackground img {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.projectsContent {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 65%;
  background-color: rgba(234, 234, 234, 0.75);
}

.projectsContent img {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
  width: 85%;
  height: 650px;
}

.projectsContent h1 {
  padding-left: 1%;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}

#projectBanner {
  margin: 0 auto;
  width: 30%;
  height: 50px;
  background-color: rgb(249, 191, 81);
}

#projectBanner h3 {
  padding-top: 3.5%;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
}

.projectCard {
  margin: 0 auto;
  width: 75%;
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

#underlineCards {
  width: 60%;
  margin: 0 auto;
  height: 3px;
  background: rgb(249, 191, 81);
}

.projectPhotos {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 50%;
}

.projectPhotos img {
  display: block;
  right: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.projectPhotos a:hover {
  cursor: pointer;
}

.projectInfo {
  float: left;
  width: 50%;
  margin-top: 4%;
}

.projectInfo h3 {
  text-align: left;
  font-size: 22px;
  font-family: sans-serif;
  margin-bottom: 0;
}

.projectInfo a {
  text-align: left;
  font-size: 22px;
  margin-bottom: 0;
}

.projectInfo a:hover {
  cursor: pointer;
}

.projectInfo p {
  margin-top: 5px;
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
}

@media (max-width: 1000px) {
  .projectsContent {
    width: 80%;
    margin-bottom: 20px;
  }
  .projectsContent img {
    height: 400px;
  }
  #projectBanner {
    width: 50%;
  }
  .projectCard {
    width: 100%;
  }
  .projectPhotos img {
    width: 150px;
    height: 150px;
  }
  .projectInfo h3 {
    padding-right: 2%;
    font-size: 18px;
  }
  .projectInfo p {
    padding-right: 4%;
    font-size: 16px;
  }
}
/*/////////////////////// Women/Children Page //////////////////*/
.womenChildrenBackground img {
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0.4;
}

.womenChildrenContent {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 55%;
  background-color: rgba(234, 234, 234, 0.75);
}

#img1 {
  display: block;
  margin: 0 auto;
  height: 550px;
  padding-bottom: 20px;
}

#img2 {
  display: block;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 75%;
  height: 400px;
  padding-bottom: 20px;
}

.womenChildrenContent h1 {
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.womenChildrenContent p {
  font-family: sans-serif;
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .womenChildrenContent {
    width: 75%;
  }
}
/*/////////////////////////// Youth Page ///////////////////////*/
.youthProjectsContent {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 70%;
  background-color: rgba(234, 234, 234, 0.75);
}

.youthProjectsContent h1 {
  padding-left: 2%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.youthProjectsContent p {
  font-family: sans-serif;
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
}

.organizationCards {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cardContainer {
  margin: 0 auto;
  background-color: rgb(136, 178, 53);
  margin: 15px 15px;
}

.cardContainer:hover {
  transform: scale(1.85);
  transition: 0.75s;
  z-index: 2;
}

.cardContainer figure {
  width: 280px;
}

.cardContainer figure img {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 200px;
}

.cardContainer figure figcaption {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-family: sans-serif;
}

/*///////////////////////// EN Schools Page /////////////////////*/
.eastNobleContent {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 70%;
  background-color: rgba(234, 234, 234, 0.75);
}

.eastNobleContent h1 {
  padding-left: 2%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.eastNobleContent p {
  font-family: sans-serif;
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
}

/*//////////////////////////// Footer ///////////////////////////*/
footer {
  position: relative;
  width: 100%;
  height: 150px;
  bottom: 0;
  background-color: rgb(0, 0, 0);
}

.linksContainer {
  margin: 0 auto;
  display: flex;
  width: 50%;
  align-content: center;
}

.bottomLinks {
  margin: 0 auto;
  margin-top: 5%;
  width: 100%;
}

.bottomLinks ul {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.bottomLinks ul li {
  list-style: none;
}

#linksLabel {
  font-family: sans-serif;
}

.bottomLinks a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#socialLink {
  padding-left: 9.25%;
}

@media (max-width: 1000px) {
  .linksContainer {
    margin: 0 auto;
    width: 100%;
  }
  .bottomLinks {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
  }
  .bottomLinks ul {
    justify-content: center;
    margin: 0 auto;
    font-size: 17px;
  }
  .bottomLinks ul li {
    margin: 0 auto;
  }
}/*# sourceMappingURL=styles.css.map */