//Start of Ngoma Styling
body {
  background-color: rgb(234, 234, 234);
}
/*////////////////// Page Headers /////////////////*/
.navigation-bar {
  top: 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0, .6);
  background-color: rgb(136, 178, 53);
  color: rgb(255, 255, 255);
  z-index: 2;
}

.company img {
  position: relative;
  margin: 0 100%;
  height: 130px;
  width: 220px;
}

.links ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.links li {
  position: relative;
  list-style: none;
}

.links li a {
  z-index: 1;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: sans-serif;
  padding: 15px;
  display: block;
}

.links li:hover a:hover {
    color: rgb(237, 28, 36);
}

.links li p {
  z-index: 1;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: sans-serif;
  display: block;
}

.links li ul {
  z-index: 1;
  position: absolute;
  display: none;
  width: 150%;
  background: rgb(136, 178, 53);
  overflow: hidden;
}

.links li ul li a {
  z-index: 1;
  text-align: center;
  font-size: 20px;
}

.links li:hover ul {
  display: block;
  z-index: 1;
}

.links li:hover {
  z-index: 1;
  background: rgb(255, 242, 0);
}

.small-menu {
  position: relative;
  right: 15px;
  top: .75em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
}

.small-menu .lines {
  height: 4px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

@media (max-width: 1310px) {
  .navigation-bar {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .company {
    align-self: center;
  }
  .company img {
    height: 100px;
    width: 125px;
    margin: 0 auto;
  }
  .small-menu {
    position: absolute;
    top: 2.5em;
    display: flex;
  }
  .links {
    display: none;
    width: 100%;
  }
  .links ul {
    width: 100%;
    flex-direction: column;
  }
  .links li {
    text-align: center;
  }
  .links ul ul {
    position: relative;
    width: 100%;
    flex-direction: column;
    z-index: 1;
  }
  .links ul ul li {
    text-align: center;
  }
  .links.active {
    display: flex;
  }
}

/*/////////////////////////// Home Page ////////////////////////*/

.background {
  margin-top: 10px;
  display: flex;
  position: relative;
  width: 100%;
}

.background img {
  margin: 0 auto;
  width: 70%;
  height: 500px;
}

.home-nav-bar {
  margin-top: 10px;
  height: auto;
  width: 100%;
  background-color: rgb(249, 191, 81);
}

.optionsContainer {
  display: flex;
  width: 50%;
  margin: 0 auto;
  height: auto;
}

.options {
  margin-top: 50px;
  height: 150px;
  margin: 0 auto;
}

.options ul {
  margin-top: 50px;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
}

.options ul li {
  margin-top: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}

#label {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}

.options a {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 28px;
}

.options a:hover {
  cursor: pointer;
}

.homeInformation{
  width: 50%;
  margin: 0 auto;
}

.homeInformation p {
  text-align: justify center;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.emailList {
  width: 40%;
  margin: 0 auto;
  border: 3px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

.emailList p {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

.inputRowEmail {
  text-align: center;
  margin: 0 auto;
}

#emailAddress {
  width: 70%;
  height: 30px;
  font-size: 25px;
}

#emailListSubmit {
  background-color: rgb(249, 191, 81);
  border: none;
  border-radius: 6px;
  margin-left: 10px;
  margin-bottom: 20px;
  height: 35px;
  width: 130px;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .background img {
    height: 250px;
    display: none;
  }
  .homeInformation {
    width: 95%;
  }
  .home-nav-bar {
    width: 100%;
  }
  .optionsContainer {
    margin: 0 auto;
    width: 100%;
  }
  .options {
    width: 25%;
    margin: 0 auto;
  }
  .options ul {
    text-align: left;
    margin-left: 0;
  }
  .options a {
    font-size: 15px;
    margin: 0 auto;
    text-align: left;
  }
  #label {
    font-size: 15px;
    text-align: center;
  }
  .emailList {
    width: 80%;
  }
}

/*/////////////////////////// About Ngoma Page ////////////////////////*/
.aboutBackground img {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.aboutContent {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 55%;
  background-color: rgb(234, 234, 234, .75);
}

.aboutBar {
  margin: 0 auto;
  margin-top: 2%;
  height: 50px;
  background-color: rgb(249, 191, 81);
  width: 100%;
}

.aboutContent h1 {
  padding-left: 1%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.aboutContent p {
  font-family: sans-serif;
  padding-left: 1%;
  text-align: left;
  font-size: 20px;
  margin-bottom: 0;
}

.aboutContent img {
  display: block;
  margin: 0 auto;
  justify-self: center;
  width: 75%;
}

@media (max-width: 1000px) {
  .aboutContent {
    width: 95%;
  }
}

/*/////////////////////////// Wicker Page ///////////////////////*/
.wickerContent {
  width: 55%;
  margin: 0 auto;
}

.wickerContent img {
  width: 100%;
  height: 50%;
}

.wickerContent h1 {
  padding-left: 1%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.wickerContent p {
  font-family: sans-serif;
  padding-left: 1%;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .wickerContent {
    width: 95%;
  }
}

/*/////////////////////////// Projects Page ///////////////////////*/
.projectBackground img {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.projectsContent {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 65%;
  background-color: rgb(234, 234, 234, .75);
}

.projectsContent img {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 675px;
}

.projectsContent h1 {
  padding-left: 1%;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}

#projectBanner {
  margin: 0 auto;
  width: 30%;
  height: 50px;
  background-color: rgb(249, 191, 81);
}

#projectBanner h3 {
  padding-top: 3.5%;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
}

.projectCard {
  margin: 0 auto;
  width: 75%;
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

#underlineCards {
  width: 60%;
  margin: 0 auto;
  height: 3px;
  background: rgb(249, 191, 81);
}

.projectPhotos {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 50%;
}

.projectPhotos img {
  display: block;
  right: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.projectPhotos a:hover {
  cursor: pointer;
}

.projectInfo {
  float: left;
  width: 50%;
  margin-top: 4%;
}

.projectInfo h3 {
  text-align: left;
  font-size: 22px;
  font-family: sans-serif;
  margin-bottom: 0;
}

.projectInfo a {
  text-align: left;
  font-size: 22px;
  margin-bottom: 0;
}

.projectInfo a:hover {
  cursor: pointer;
}

.projectInfo p {
  margin-top: 5px;
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
}


@media (max-width: 1000px) {
  .projectsContent {
    width: 100%;
    margin-bottom: 20px;
  }
  .projectsContent img {
    height: 400px;
  }
  #projectBanner {
    width: 70%;
  }
  .projectCard {
    width: 100%;
  }
  .projectPhotos img {
    width: 150px;
    height: 150px;
  }
  .projectInfo h3 {
    padding-right: 2%;
    font-size: 18px;
  }
  .projectInfo p {
    padding-right: 4%;
    font-size: 16px;
  }
}

/*/////////////////////// Women/Children Page //////////////////*/
.womenChildrenBackground img {
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: .4;
}

.womenChildrenContent {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 55%;
  background-color: rgb(234, 234, 234, .75);
}

#img1 {
  display: block;
  margin: 0 auto;
  height: 550px;
  padding-bottom: 20px;
}
#img2 {
  display: block;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 75%;
  height: 400px;
  padding-bottom: 20px;
}

.womenChildrenContent h1 {
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.womenChildrenContent p {
  font-family: sans-serif;
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .womenChildrenContent {
    width: 95%;
  }
  #img1 {
    width: 95%;
    height: 400px;
  }
  #img2 {
    width: 95%;
    height: 300px;
  }
}
/*/////////////////////////// Youth Page ///////////////////////*/
.youthProjectsContent {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 70%;
  background-color: rgb(234, 234, 234, .75);
}

.youthProjectsContent h1 {
  padding-left: 2%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.youthProjectsContent p {
  font-family: sans-serif;
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
}

.organizationCards {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cardContainer {
  margin: 0 auto;
  background-color: rgb(136, 178, 53);
  margin: 15px 15px;
}

.cardContainer:hover {
  transform: scale(1.85);
  transition: .75s;
  z-index: 2;
}

.cardContainer figure {
  width: 280px;
}

.cardContainer figure img {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 200px;
}

.cardContainer figure figcaption {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-family: sans-serif;
}

@media (max-width: 1000px) {
  .youthProjectsContent {
    width: 95%;
  }
  .organizationCards {
    width: 100%;
  }
  .cardContainer {
    width: 95%;
    height: 250px;
  }
  .cardContainer figure {
    margin: 0 auto;
  }
  .cardContainer figure img {
    margin-top: 10px;
  }
  .cardContainer:hover {
    transform: scale(1);
  }
}
/*///////////////////////// EN Schools Page /////////////////////*/
.eastNobleBackground img {
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .75;
  position: fixed;
}

.eastNobleContent {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 70%;
  background-color: rgb(234, 234, 234, .75);
}

.eastNobleContent h1 {
  padding-left: 2%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.eastNobleContent h2 {
  padding-left: 2%;
  text-align: left;
  font-size: 25px;
  font-family: sans-serif;
}

.eastNobleContent p {
  font-family: sans-serif;
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
}

.enCards {
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.enCardContainer {
  width: 410px;
  height: 300px;
  margin: 15px 15px;
  background-color: rgb(50, 50, 50);
}

.enCardContainer img {
  display: block;
  margin: 0 auto;
  margin-top: 2.5%;
  height: 280px;
  width: 390px;
}

.staffBreakfast {
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.enBreakfastContainer {
  width: 560px;
  height: 400px;
  margin: 15px 15px;
  background-color: rgb(50, 50, 50);
}

.enBreakfastContainer img {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  width: 540px;
  height: 380px;
}

@media (max-width: 850px) {
  .eastNobleContent {
    width: 100%;
  }
  .eastNobleContent h1 {
    padding-top: 10px;
    text-align: center;
  }
  .eastNobleContent h2 {
    text-align: center;
  }
  .enCardContainer {
    width: 100%;
  }
  .enCards {
    width: 100%;
  }
  .enCards img {
    width: 95%;
  }
  .staffBreakfast {
    width: 100%;
  }
  .enBreakfastContainer {
    width: 100%;
    height: 300px;
  }
  .enBreakfastContainer img {
    width: 95%;
    height: 95%;
  }
}

/*///////////////////////// Involvement Page /////////////////////*/
.involvementContent {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 70%;
  background-color: rgb(234, 234, 234, .75);
  margin-bottom: 20px;
}

.involvementContent h1 {
  padding-left: 2%;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.involvementContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 5px;
  justify-content: center;
}

.involveOption {
  justify-content: center;
  width: 28%;
  height: auto;
  margin: 15px 15px;
}

.optionBanner {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background-color: rgb(249, 191, 81);
}

.optionBanner h3 {
  padding-top: 5%;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

.involveOption img {
  width: 100%;
  height: 300px;
}

.involveOption p {
  margin: 0 auto;
  margin-top: 2px;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 18px;
  font-family: sans-serif;
  padding-bottom: 10px;
}

.involveOption #facebook {
  padding-top: 10px;
  background-color: rgb(66, 103, 178);
  text-decoration: none;
  margin: 0 auto;
  width: 25px;
}

.involveOption #facebook {
  padding-top: 5px;
  text-align: right;
  padding-right: 4px;
  font-size: 23px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
}

#joinButton {
  width: 30%;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: rgb(237, 97, 36);
  margin: 0 auto;
  border-radius: 25px;
  margin-top: 20px;
}

#joinButton:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
}

#donateButton {
  width: 30%;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: rgb(237, 97, 36);
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 25px;
}

#donateButton a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.creditCards {
  margin-top: 15px;
  justify-content: center;
  text-align: center;
}
#cCard {
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

@media (max-width:1000px) {
  .involvementContainer {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .involveOption {
    margin: 0 auto;
    flex-direction: column;
    width: 65%;
    padding-bottom: 10px;
  }
  #joinButton {
    font-size: 20px;
  }
  #donateButton {
    font-size: 20px;
  }
}

/*////////////////////////// Contact Page //////////////////////*/
.contactContent {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 70%;
  background-color: rgb(210, 210, 210);
  margin-bottom: 20px;
}

.contactContent h1 {
  padding-top: 10px;
  padding-left: 1%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.contactRow{
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.contactContent a {
  text-align: center;
  padding-left: 2%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 25px;
}

.contactContent p {
  font-family: sans-serif;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
  padding-left: 2%;
}

.contactInfo {
  float: left;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}

.contactForm {
  justify-content: center;
  float: left;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contact {
  margin: 0 auto;
  justify-self: center;
  float: left;
  width: 75%;
}

.contact input {
  justify-self: center;
  width: 75%;
  margin-bottom: 5px;
}

#contactMessage {
  padding-bottom: 100px;
}

#submitContactForm {
  top: 0;
  width: 80px;
  height: 40px;
  padding-top: 14px;
  background-color: rgb(249, 191, 81);
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-family: sans-serif;
  text-align: center;
  border-radius: 15px;
}

#submitContactForm:hover {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.map {
  margin: 0 auto;
  width: 75%;
  margin-bottom: 20px;
}

.map iframe {
  width: 100%;
}

@media (max-width: 1000px) {
  .contactContent {
    width: 85%;
  }
  .contactContent h1 {
    text-align: center;
  }
  .contactContent p {
    font-size: 20px;
    text-align: center;
  }
  .contactInfo {
    width: 95%;
    text-align: center;
  }
  .contactInfo a {
    font-size: 20px;
  }
  .contactRow {
    flex-direction: column;
  }
  .contactForm {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contact {
    margin: 0 auto;
    width: 100%;
  }
  .contact input {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 5px;
  }
  #submitContactForm {
    margin: 0 auto;
  }
  .map {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .map iframe {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 400px;
  }
}

/*//////////////////////////// Join Page ///////////////////////*/
.joinBackground img {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.joinContent {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  height: auto;
  width: 70%;
  background-color: rgb(234, 234, 234, .75);
  margin-bottom: 20px;
}

.joinContent h1 {
  padding-top: 10px;
  padding-left: 1%;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
}

.joinContent p {
  font-family: sans-serif;
  padding-left: 1%;
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
}

.inputSection {
  width: 98%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.inputSection label {
  font-family: sans-serif;
  font-size: 20px;
}

.inputSection input {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-family: sans-serif;
}

#sendButton {
  justify-self: center;
  margin: 0 auto;
  width: 80px;
  height: 40px;
  font-size: 25px;
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 25px;
}

@media (max-width: 1000px) {
  .joinContent {
    width: 80%;
  }
  .inputSection {
    margin: 0 auto;
  }
  .inputSection input {
    width: 98%;
  }
}


/*//////////////////////////// Footer ///////////////////////////*/

footer {
  position: absolute;
  width: 100%;
  height: 175px;
  bottom: 100;
  background-color: rgb(0, 0, 0);
}

.linksContainer {
  margin: 0 auto;
  display: flex;
  width: 50%;
  align-content: center;
}

.bottomLinks {
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 5%;
  width: 100%;
}

.bottomLinks ul {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.bottomLinks ul li {
  list-style: none;
}

#linksLabel {
  font-family: sans-serif;
}

.bottomLinks a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#socialLink {
  padding-left: 9.25%;
}

@media (max-width: 1000px) {
  footer {
    height: 225px;
  }
  .linksContainer{
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
  }
  .bottomLinks {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
  }
  .bottomLinks ul {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-size: 20px;
  }
  .bottomLinks ul li {
    margin: 0 auto;
  }
  .bottomLinks ul li a {
    font-size: 20px;
  }
  #socialLink {
    padding-left: 3%;
  }
}